In [12]:
import pandas as pd
import numpy as np
import datetime

In [27]:
df1 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 10]],
...      index=['cobra', 'viper', 'sidewinder'],
...      columns=['max_speed', 'shield', 'new'])

In [21]:
df

            max_speed  shield  new
cobra               1       2    3
viper               4       5    6
sidewinder          7       8   10

In [22]:
df.loc[['sidewinder', 'cobra'], ['shield', 'new']]

            shield  new
sidewinder       8   10
cobra            2    3

In [13]:
dti = pd.to_datetime(['1/1/2018', np.datetime64('2018-01-01'),
   ...:                       datetime.datetime(2018, 1, 1)])

In [15]:
type(dti)

pandas.core.indexes.datetimes.DatetimeIndex

In [24]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [29]:
df

                   A         B         C         D
2013-01-01 -0.700702 -0.545740  2.025376  0.542879
2013-01-02  0.493410 -0.832316 -1.281181  1.458477
2013-01-03  1.965971  1.104965  0.901444  0.570523
2013-01-04  0.325886  1.567887  2.407931 -0.612479
2013-01-05  0.138047 -0.775897 -2.518678  0.731199
2013-01-06 -0.880753 -0.716935 -1.790275  0.561841

In [33]:
df.Datetime

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [37]:
dates[0]

Timestamp('2013-01-01 00:00:00', freq='D')

In [36]:
type('2013-01-01')

str